@keyframes snowflake-fall {
    0% {
      transform: translateY(-100px) translateX(0px);
      opacity: 1;
    }
    50% {
      transform: translateY(50vh) translateX(75px);
      opacity: 0.8;
    }
    100% {
      transform: translateY(100vh) translateX(0px);
      opacity: 0.8;
    }
  }
  
  .snowflake {
    color: #fff;
    font-size: 1.2em;
    text-shadow: 0 0 2px #00bcd4;
    position: fixed;
    top: -10%; /* Start above the screen */
    z-index: 999;
    cursor: default;
    animation-name: snowflake-fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
  