body {
  background-image: url("assets/poza-cu-noi.jpeg");
  background-size: 100%; /* Scale width to 100%, height adjusts automatically */
  background-repeat: no-repeat; /* Prevent tiling */
  background-position: center; /* Keep it centered */
}
